{% extends "layout.html" %} 

{% block main %} 
<!--Credit to https://github.com/jacebrowning/memegen-->
<br><br>
<div class="center width100">
    <p class="text-center">
        <img id="dogImage" alt="{{ top }}" class="text-center" title="{{ top }}" 
    src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/ujnINQeh.jpg">
    </p>
    <br>
    <p class="text-center grey">Error message inspired by CS50</p>
    <p class="text-center grey"><a href="https://github.com/jacebrowning/memegen">Meme maker</a></p>
</div>


{% endblock %}