{% extends "layout.html" %} 

{% block main %} 

<br>
<h2 class="white text-center"> Me! </h2>
<br>

<div class="white text-left center" style="width:50%;">
    <p>I'm Emmett Bicker, a sophomore at HCHS. I made this website 
        for three main reasons:
        <ul>
            <li>So many people have COVID-19 in the school, 
                I realized that there wasn't much way for the students 
                to keep up with course material. This seemed like at least
                a partial solution for the problem of not being able 
                to know what was going on in class.
            </li>
            <br>
            <li>
                This is my final project for Harvard's course 
                <a class="regularLink" href='https://cs50.harvard.edu'>CS50!</a> David
                J. Malan, the instructor, taught me how to do all of this and 
                the final project's description was to make something impactful. 
                This was the most impactful thing I could think of doing, and I 
                thought the best way to repay the great instruction of the course 
                was to do the most impactful thing I could.
            </li>
            <br>
            <li>
                It's fun! Computer Science is super fun, I made all of this out 
                of basically text files and it has the potential to be a popular
                file sharing system that might actually impact people's lives. 
                In my eyes that's amazing and I want to do more stuff like this 
                in the future (probably not web applications for a bit though one 
                is enough for the next 6 months)! I hope other people at Hunter 
                get more involved in computer science, I only started 6 months ago
                so anyone can start at any time and make something like this!
            </li>
        </ul>
        I hope this website can make your school life somewhat easier!
        
    </p>
    <p> If in the worst situation that literally no one uploads notes 
        to this website, I will upload mine! If you're in any of my classes,
        my notes will be in the respective place on the site by 4PM the day of.
    </p>
    <p>Finally I encourage everyone to take CS50. It's a fantastic course and 
        it has really deepened my understanding of computer science. Here's the 
        certificate I got from submitting this as my final project. 
        <br>
        <br>
        <p class="center text-center">
            <img class="center text-center" alt="CS50 Certificate" width="70%" height="70%" src="/static/CS50x.png">
        </p>
    </p>
</div>

{% endblock %}