{% extends "layout.html" %}

{% block main %}
<br>
<h2 class="white text-center">Verify </h2>
<p class="white text-center">A verification code has been sent to your email!</p>
<p class="white text-center">It may be marked as spam; the sender is "hchsshare@gmail.com"</p>
<p class="white text-center">This page can't be accessed after leaving, so I reccomend immediately registering</p>
<p class="white text-center">If you miss the window to verify email me at emmettbicker@hunterschools.org and I'll manually register you</p>
<form class="center text-center" action="/validate" method="post">
    <input autocomplete="off" autofocus type="number" name="code" placeholder="Code">
    <input type="submit" value="Verify!">
</form>

{% endblock %}