{% extends "layout.html" %}

{% block main %}
<br>
<h2 class="white text-center"> Upload </h2>

<br>
<table class="white center text-center width80  fade-in">
    <thead>
        <th class="text-left">Section</th>
        <th class="text-left">Teacher</th>
        <th class="text-left">Class</th>
        <th class="text-right">Period</th>
        <th class="text-right">Day Notes were Taken</th>
        <th class="text-center">File Upload</th>
        <th class="text-right">Submit!</th>
    </thead>
    <tbody>
        {% for i in range(rowCount) %}
            <tr>
                
                <!--0 is the positioning of Section in the table-->
                <td class="text-left"> {{rows[i][0]}} </td>
                <!--2 is the positioning of Teacher in the table-->
                <td class="text-left"> {{rows[i][2]}} </td>
                <td class="text-left"> {{rows[i][1]}} </td>
                <td class="text-right"> {{rows[i][weekdayCount]}} </td>
                <form action="/thankyou" enctype="multipart/form-data" method="post" class="white text-center">
                    
                    <input name="teacher" value="{{rows[i][2]}}" type="hidden" class="text-left">
                    <input name="weekday" value="{{weekday}}" type="hidden" class="text-left">
                    <input name="period" value="{{rows[i][weekdayCount]}}"type="hidden" class="text-left">
                    <td class="text-right">
                        <input class="input-button text-center" style="width:8.1rem" type="date" name="date">
                    </td>
                    <td class="text-center"> 
                        <input class="text-right inline" type="file" name="filename">
                        <!--<input type="file" class="inline" id="fileup" name="filename" onchange="getName(event)" style="display:none;">
                        <label for="fileup" class="text-left"id="file-label{{i}}">Click to upload</label>
                        <script>
                            //Sketchy JS solution lmao

                            function getName(evt){
                                var files = evt.target.files;
                                var file = files[0];
                                document.querySelector("#file-label{{i}}").innerHTML = file.name;
                            }
                            
                        </script>-->
                    </td>
                    <td>
                        <input class="input-button inline floatRight" value="Submit" type="submit">
                    </td>
                </form>
                
                    
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
