{% extends "layout.html" %}

{% block main %}
<br>
<h2 class="white text-center">Teacher {{teacher}}'s {{weekday}} Class: Period {{period}} </h2>
<br>

<table class="white center text-center width80">
    <thead class="white text-center">
        <th class="text-left">Date</th>
        <th class="text-left">Uploader</th>
        <th class="text-left">Weekday</th>
        <th class="text-right">Period</th>
        <th class="text-right">Notes</th>
    </thead>
    <tbody class="white center">
        {% for i in range(fileCount) %}
        <tr class="white text-center">
            <td class="text-left">
                <p>{{rows[i][3]}}</p>
            </td>
            <td class="text-left">
                <p>{{uploaderList[i]}}</p>
            </td>
            <td class="text-left">
                <p>{{rows[i][5]}}</p>
            </td>
            <td class="text-right">
                <p>{{rows[i][6]}}</p>
            </td>
            <td class="text-right">
                <p><a class="regularLink"href="/storage/{{filenameList[i]}}"> See file</a></p>
            </td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}